<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .home-page{
        display: flex;
        align-items: center;
        justify-content: space-around;
        }
        h1 {
            text-align: center;
        }
        a{
            height: 100%;
            width: 5%;
            background-color: aquamarine;
            border-radius: 15%;
            text-decoration: none;
            color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1 > Welcome to our app</h1>
    <div class="home-page" >
        <a href="/register">Register </a>
        <a href="/login">Login</a>
    </div>
</body>
</html>